@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

.progresss {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}

.progresss::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progresss > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progresss .progresss-left {
    left: 0;
}

.progresss .progresss-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progresss .progresss-left .progresss-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progresss .progresss-right {
    right: 0;
}

.progresss .progresss-right .progresss-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progresss .progresss-value {
    position: absolute;
    top: 0;
    left: 0;
}

/*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
.rounded-lg {
    border-radius: 1rem;
}

.text-gray {
    color: #aaa;
}

div.h4 {
    line-height: 1rem;
}

:root {
    --calendar-bg-color: #262829;
    --calendar-font-color: #fff;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color: #fff;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848;
}

.calendar {
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    /* margin: 20px auto; */
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div > a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar
    .calendar-inner
    .calendar-controls
    .calendar-year-month
    .calendar-year-label,
.calendar
    .calendar-inner
    .calendar-controls
    .calendar-year-month
    .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
    border: 1px solid transparent;
    pointer-events: none;
}

body {
    background-color: #f9f9f9;
    overflow: hidden;
    color: #fff;
}

.lan-home {
    overflow: auto;
    max-height: 92.4vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

th {
    background-color: #fe4902;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

th small {
    font-size: 9px;
}

td,
th {
    text-align: left;
}

a {
    text-decoration: none;
}

td a {
    color: #663300;
    display: block;
    padding: 5px 10px;
}

th a {
    padding-left: 0;
}

.color-w {
    color: #fff;
}
.hover-w :hover {
    color: #fff;
}

.contents {
    width: 100%;
    display: flex;
}

.login-form {
    background-color: #fff;
    width: 50%;
    height: 100vh;
    padding: 5% 10% 10%;
    color: #000;
}

.message {
    width: 50%;
    height: 100vh;
    position: relative;
}

.btn-text-w {
    color: #fff !important;
}

.icons {
    width: 3%;
    border-right: 0.5px solid #fff;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.files {
    width: 17%;
    border-right: 0.5px solid #fff;
    padding: 5px;
}

.code {
    width: 50%;
    height: 90vh;
    overflow: auto;
}
.read {
    color: #000;
    border-radius: 5px;
}
.content-red {
    width: 30%;
    background-color: #fff;
    padding: 1%;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.level-left {
    display: none !important;
}

.project-name {
    background-color: #fff;
    color: #000;
    font-size: larger;
}

.file-icon {
    padding-left: 15px;
}

a {
    color: #fff;
}

li {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

.embed-brand-area > div {
    display: none !important;
}
.info-text {
    display: none !important;
}
div.level-left.hidden-print.has-text-left.is-underline.info-text {
    display: none !important;
}

.img_1 {
    position: absolute;
    margin: 30px;
}

.img_2 {
    margin: 90px 35px;
    position: absolute;
    z-index: 10;
}

.img_3 {
    margin: 150px 380px;
    position: absolute;
    z-index: 9;
}

.code1 {
    margin: 150px auto;
}

.code2 {
}

.dashboard {
    margin: 2% auto;
    width: 80%;
    padding-top: 20px;
}
.habit {
    width: 70%;
    padding-top: 50px;
}
.habit-image {
    width: 30%;
}

.course {
    display: flex;
    padding: 1%;
    width: 35%;
    background-color: #FFFF;
    margin: 10px 5px;
    border-radius: 8px;
    color: #000;
    font-size: x-small;
    cursor: pointer;
}
.course-title{
    font-weight: 700;
    margin: 2px;
}
.course-description{
    margin: 2px;
}
.classes {
    display: flex;
}
.course-card {
    width: 25%;
    border-radius: 10px;
    margin: 5px;
}
.card-up {
    background-color: #fff;
    width: 100%;
    height: 110px;
    color: #000;
    padding: 10px;
}

.card-down {
    background-color: #b8b8b8;
    padding: 5px;
    display: flex;
    color: #000;
}

.title {
    font-weight: 800;
    padding: 5px;
}

.discription {
    font-weight: 400;
    color: darkgreen;
    padding: 5px;
}
.config {
    padding-top: 15px;
}

.msg-alert {
    width: 60%;
    height: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.heading {
    width: 100%;
}

.w-400 {
    width: 400px;
}
.embed-brand-area > div {
    display: none !important;
}
.info-text {
    display: none !important;
}
div.level-left.hidden-print.has-text-left.is-underline.info-text {
    display: none !important;
}

.folder-content {
    display: flex;
}
.folder {
    width: 80px;
    height: 90px;
    background-color: #fff;
    color: #000;
    margin: 5px;
}
.folder-name {
    font-size: medium;
}

.projects {
    display: flex;
}

.assignment {
    color: #000;
    padding: 5px;
}
.comments {
    color: #000;
    padding: 5px;
}

.code-board {
    width: 80%;

    /* background-color: #fff; */
    margin: 2px auto;
    border-radius: 8px;
    color: #fff;
    padding: 5px;
    font-size: small;
}

.activities {
    display: flex;
    width: 80%;
    margin: 5px auto;
}

.acheivements {
    width: 50%;
    background-color: #fff;
    margin: 20px 5px;
    border-radius: 8px;
    color: #000;
    height: 300px;
}
.streak-board {
    display: flex;
}
.streaks {
    width: 30%;
}
.streak {
    display: flex;
    width: 100%;
}
.overall {
    width: 70%;
    display: flex;
    margin: 5px;
    padding: 5px;
}

.streak-box {
    background-color: #eeeeee;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}
.bi-check2-circle {
    color: #fff;
}

.reset-pm {
    margin: 0px;
    padding: 0px;
}
.profile-image {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.profile-details {
    padding: 5px;
}
.embed-brand-area {
    display: none !important;
}
.icon-active {
    width: 20%;
    background-color: #198754;
    border-radius: 10px;
}
.achevments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20%;
    border-radius: 10px;
    background-color: #eeeeee;
    margin: 5px;
}

.take-quiz {
    margin-top: 5px;
    margin-bottom: 50px;
    width: 100%;
}

.questions {
    margin-bottom: 20px;
}
.single-question {
    margin-bottom: 4px;
}
.options {
    cursor: pointer;
    padding-top: 5px;
}
.progress {
    margin: 5px;
}
.see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.class-board {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.class {
    background-color: #fff;
    width: 200px;
    height: 150px;
    margin: 5px;
    box-shadow: 3px 3px 3px #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.class:hover {
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.time-table {
    width: 33%;
    margin: 5px;
}
.grades {
    width: 33%;
    background-color: #fff;
    box-shadow: 3px 3px 3px #fff;
    margin: 5px;
}
.notifications {
    width: 34%;
    background-color: #fff;
    box-shadow: 3px 3px 3px #fff;
    margin: 5px;
    color: #198754;
}

.table {
    display: flex;
}
.time-table {
    color: #fff;
    font-weight: 800;
}
.side {
    width: 1%;
    height: 40px;
    background-color: #198754;
}
.main {
    width: 99%;
    padding: 5px;
}

h1,
h2 {
    text-align: center;
}
h1 {
    font-size: 2em;
}
h3 {
    margin-top: 20px;
}
textarea {
    background: #fff !important;
    width: 100%;
    margin: 0 20px 0 0;
    height: 200px;
    border-radius: 5px;
    border-color: #555;
    font-family: "Source Code Pro", monospace;
    font-size: 1em;
    resize: none;
}
textarea:hover {
    background: #fff !important;
}
textarea:focus {
    outline: none;
    background: #fff !important;
}
.grid {
    width: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 30px 0 0;
}
.edit {
    background: #fff !important;
    padding: 5px;
    height: 400px;
}
.output {
    background: #fff;
    border-left: 1px solid #f3f3f3;
    overflow: hidden;
    padding: 0 20px;
    margin: 0px 0;
}
.output iframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.output iframe::-webkit-scrollbar {
    display: none;
}

.dashboardBox {
    height: 110px;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
}
.page-title{
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{
    margin: 20px;
}

.Overview{
    width: 100%;
    background-color: #fff;
    border-radius: 1px;
    color:#000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.box{
    width: 30%;
    height: 50px;
    margin: 5px;
}

.post-wraper{
    max-height: 75vh;
    overflow: auto;
    width: 70%;
}